@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    font-size: 10px;
}

.wrapper-header {
    width: 100%;
}

/* Diseno del Top Bar */
.wrapper-top-bar {
    background-color: #a2a6ac;
    width: 100%;
    margin: 0 auto;
}

.content-top-bar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0.5rem 0;
    gap: 500px;
}

.top-bar1 {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5rem ; 
    gap: 15px;
    padding: 1rem;
    flex-wrap: wrap;
    max-width: 650px;
    box-sizing: border-box;
}

.call-us, .mail, .sucursales {
    border-right: 1px solid rgba(255, 253, 253, 0.418);
    padding-right: 20px;
}
.top-bar1 a, .top-bar2 a {
    text-decoration: none ;
    color: black;
}

.top-bar2 {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    gap: 15px;
    flex-flow: wrap;
    box-sizing: border-box;
}

#sucursales {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.social-media, .social-media > ul {
    display: flex;
}

.social-media li, .social-media h3, .sucursales {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Fin del diseno del Top Bar */

/* Diseno del navigation */

.wrapper-nav {
    background-color: #b0d135;
    width: 100%;
}

.nav-bar, .nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.nav-bar {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.logo > img {
    width: 100px;
    height: 100px;
    margin-right: 150px;
}

.nav-menu-list {
    gap: 20px;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-menu-list a {
    color: white;
    text-decoration: none;
    flex-flow: wrap;
}

.calc-text {
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.img-calc {
    width: 14%;
    padding-right: 1rem;
}

.calc-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Fin del diseño del nav */

/* Inicio del diseño del slider */

.slider {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    height: 750px;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    max-width: 1920px;
    height: 750px;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider img:first-child {
    z-index: 1;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }

  .navigation-button {
    text-align: center;
    position: relative;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }

  /* Fin del diseño del slider */

  /* Inicio del Diseño del productos */

  .wrapper-products {
    display: flex;
    justify-content: center;
    z-index: 1;
    position: relative;
    bottom: 4rem;
  }

  .wrapper-products div {
    padding: 30px;
    font-size: 1.5rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    background-color: white;
  }

  .wrapper-products h3 {
    padding-top: 2rem;
    text-align: center;
  }

  .wrapper-products a {
    text-decoration: none;
    color: #b0d135;
    padding: 20px;
  }

  .wrapper-products div:hover {
    background-color: #c9c9c9;
    padding: 50px;
    transition: padding 1s ease;
  }

  .wrapper-products div:not(:hover) {
    padding: 30px;
    transition: padding 1s ease;
  }

  .air-freight, .insurance, .warehousing, .forwarding {
    box-shadow:10px 0 5px 0 #8888881c inset ;
  }

  /* Fin de diseño de productos */

  /* Inicio de diseño de noticias */

  .news-area {
    padding-top: 2rem;
    max-width: 1920px;
    background-color: #fafafa;
    padding-bottom: 2rem;
  }

  .news-title {
    text-align: center;
    padding: 8rem;
  }

  .news-title h6 {
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: 2rem;
  }

  .news-title h2 {
    font-size: 3.6rem;
    font-family: 'Source Sans Pro', sans-serif;
  }

  .news-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }

  .new-content1, .new-content2, .new-content3 {
    width: 403.333px;
    background-color: white;
  }

  .new-meta ul {
    display: flex;
    gap: 15px;
    font-size: 1.3rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: #858594;
  }

  .new-meta {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }

 .title-new {
  font-size: 2rem;
  text-decoration: none;
  color: #b0d135;
  font-weight: 600;
 }

 .news-content p {
  font-size: 1.4rem;
  line-height: 2.8rem;
  padding-bottom: 4rem;
  padding-top: 2rem;
  font-family: 'Open Sans', sans-serif;
 }

 .new-read-more {
  text-align: center;
  font-size:1.4rem ;
 }

 .read-more {
  text-decoration: none;
  color: #b0d135;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
 }