@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    font-size: 10px;
}

.wrapper-header {
    width: 100%;
}

/* Diseno del Top Bar */
.wrapper-top-bar {
    background-color: #a2a6ac;
    display: flex;
    justify-content: space-around;
}

.top-bar1 {
    display: flex;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem ; 
    gap: 15px;
    padding: 1rem;
    flex-wrap: wrap;
}

.top-bar1 a, .top-bar2 a {
    text-decoration: none ;
    color: black;
}

.top-bar2 {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    gap: 10px;
    flex-flow: wrap;
}

#sucursales {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.social-media, .social-media > ul {
    display: flex;
}

.social-media li, .social-media h3, .sucursales {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Fin del diseno del Top Bar */

/* Diseno del navigation */

.wrapper-nav {
    background-color: #b0d135;
}

.nav-bar, .nav-menu-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
}

.logo > img {
    width: 100px;
    height: 100px;
    margin-right: 150px;
}

.nav-menu-list {
    gap: 20px;
    font-size: 1.5rem;
    font-family: 'Open Sans', sans-serif;
}

.nav-menu-list a {
    color: white;
    text-decoration: none;
    flex-flow: wrap;
}

.calc-text {
    font-size: 16px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.img-calc {
    width: 14%;
    padding-right: 1rem;
}

.calc-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Fin del diseño del nav */

/* Inicio del diseño del slider */

.slider {
    width: 100%;
    height: 510px;
    position: relative;
  }
  
  .slider img {
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .slider img:first-child {
    z-index: 1;
  }
  
  .slider img:nth-child(2) {
    z-index: 0;
  }

  .navigation-button {
    text-align: center;
    position: relative;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active,
  .dot:hover {
    background-color: #717171;
  }