@import url(/assets/css/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

html {
    font-size: 10px;
}

.wrapper-header {
    width: 100%;
}

/* Diseno del Top Bar */
.wrapper-top-bar {
    max-width: 1300px;
    background-color: #a2a6ac;
    display: flex;
    justify-content: space-around;
}

.top-bar1 {
    display: flex;
    justify-content: flex-start;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.8rem ; 
    gap: 15px;
    padding: 1rem;
}

.top-bar1 a, .top-bar2 a {
    text-decoration: none ;
    color: black;
}

.top-bar2 {
    display: flex;
    justify-content: flex-end;
    font-size: 1.8rem;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 1rem;
    gap: 10px;
}

.social-media, .social-media > ul {
    display: flex;
}

.social-media li, .social-media h3, .sucursales {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Fin del diseno del Top Bar */

/* Diseno del navigation */

.wrapper-nav {
    background-color: #b0d135;
}

.nav-bar, .nav-menu-list {
    display: flex;
    justify-content: space-around;
}

.logo > img {
    width: 100px;
    height: 100px;
}